// Colors
$main-color:                 #fda3a3;
$secondary-color:            #19323b;
$third-color:                #2e5a64;
$forth-color:                #70b98b;
$fifth-color:                #fff1df;
$sixth-color:                #fecf9b;
$seventh-color:              #d87862;
$header1-font-color:         $main-color;
$header2-font-color:         $fifth-color;
$font-color:                 $fifth-color;

// Fonts
$p-font-stack:               'Cabin', sans-serif;
$h1-font-stack:              'Lobster Two', cursive;
$h2-font-stack:              'Cabin', sans-serif;
$h3-font-stack:              'Cabin', sans-serif;

// Set element colors
$background-overlay-color:   $secondary-color;
$background-overlay-opacity: 1;
$link-color:                 $secondary-color;
$link-color-hover:           $third-color;
$navbar-selector-opacity:    1;
$bar-color:                  $secondary-color;
$design-container-color:     $sixth-color;
$about-container-color:      $seventh-color;

/* This mixin creates rbga color from hex and opacity */
@mixin background-opacity($color, $opacity: 0.5) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}

@mixin at2x($path, $ext: "jpg", $w: auto, $h: auto) {
  $at1x_path: "#{$path}.#{$ext}";
  $at2x_path: "#{$path}@2x.#{$ext}";

  background-image: url("#{$at1x_path}");

  @media all and (-webkit-min-device-pixel-ratio : 1.5),
  all and (-o-min-device-pixel-ratio: 3/2),
  all and (min--moz-device-pixel-ratio: 1.5),
  all and (min-device-pixel-ratio: 1.5) {
    background-image: url("#{$at2x_path}");
    background-size: $w $h;
  }
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  background: $background-overlay-color url("../img/img-noise-361x370.png") repeat;
  z-index: -5;
  width: 100%;
  height: 100%;
}

html, body {
  font-family: $p-font-stack;

  h1 {
    color: $header1-font-color;
    font-family: $h1-font-stack;
    font-size: 115px;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 110px;
    text-align: right;
  }

  h2 {
    padding-top: 0;
    margin-top: 0;
    color: $header2-font-color;
    font-family: $h2-font-stack;
    font-size: 35px;
    text-align: right;
  }

  h3 {
    color: $header2-font-color;
    font-family: $h2-font-stack;
    font-size: 25px;
    font-weight: 200;
  }

  h3:hover {
    color: $third-color;
    font-family: $h2-font-stack;
    font-size: 25px;
    font-weight: 200;
  }

  strong {
    color: $main-color;
  }

  /* Style the href links */
  a:link, a:visited {
    color: $link-color;
  }
  a:hover, a:active {
    color: $link-color-hover;
    text-decoration: none;
  }
}

/* Set max width of 1080 */
.container {
  @media (min-width: 1200px) {
    width: 1080px;
  }
}
.info-container {
  padding: 50px 0 200px;
  max-width: 1080px;
  margin: 0 auto !important;
  float: none !important;
}

/*
  Top container
*/
.top-container {
  padding: 15px 0 110px;

  /* fix right margin */
  .row {
    margin-right: 0px;
  }

  .header {
    position: relative;
    right: 45px;
  }

  p {
    color: $font-color;
    margin-top: 20px;
    font-size: 22px;
  }

  .big-balloon {
    @include at2x("../img/big-airballoon", png, 100px, 147px);
    width: 100px;
    height: 147px;
    position: relative;
    left: 60px;
    top: 55px;
  }

  .med-balloon {
    @include at2x("../img/med-airballoon", png, 75px, 110px);
    width: 75px;
    height: 110px;
    position: relative;
    left: 180px;
    top: 65px;
  }

  .sm-balloon {
    @include at2x("../img/small-airballoon", png, 50px, 74px);
    width: 50px;
    height: 74px;
    position: relative;
    left: 60px;
    top: 65px;
  }

  .cherry-blossoms {
    @include at2x("../img/cherryblossoms", png, 700px, 157px);
    width: 700px;
    height: 157px;
    position: relative;
    top: 20px;
    right: -15px;
  }

  @media (max-width: 992px) {
    .med-balloon {
      left: 180px;
    }

    h1 {
      font-size: 100px;
      line-height: 95px;
    }

    h2 {
      font-size: 30px;
    }

    .cherry-blossoms {
      @include at2x("../img/cherryblossoms992", png, 610px, 137px);
      width: 610px;
      height: 137px;
      right: -15px;
    }
  }

  @media (max-width: 870px) {
    padding: 50px 0 125px;

    .big-balloon {
      left: 30px;
    }

    .med-balloon {
      left: 100px;
    }

    .sm-balloon {
      left: 30px;
    }
  }

  @media (max-width: 800px) {
    padding: 25px 0 75px;

    h1 {
      font-size: 80px;
      line-height: 80px;
    }

    h2 {
      font-size: 25px;
    }

    .big-balloon {
      @include at2x("../img/big-airballoon768", png, 75px, 111px);
      width: 75px;
      height: 111px;
      position: relative;
      left: 20px;
      top: 50px;
    }

    .med-balloon {
      @include at2x("../img/med-airballoon768", png, 50px, 74px);
      width: 50px;
      height: 74px;
      position: relative;
      left: 70px;
      top: 60px;
    }

    .sm-balloon {
      @include at2x("../img/small-airballoon768", png, 30px, 44px);
      width: 30px;
      height: 44px;
      position: relative;
      left: 20px;
      top: 65px;
    }

    .cherry-blossoms {
      @include at2x("../img/cherryblossoms768", png, 500px, 112px);
      width: 500px;
      height: 112px;
      right: -15px;
    }
  }

  @media (max-width: 640px) {
    padding-bottom: 30px;

    .header {
      right: 30px;
    }

    h1 {
      font-size: 60px;
      line-height: 60px;
    }

    h2 {
      font-size: 18px;
    }

    .big-balloon {
      left: 30px;
      top: 38px;
    }

    .med-balloon {
      left: 100px;
      top: 20px;
    }

    .sm-balloon {
      left: 30px;
      top: -20px;
    }

    .cherry-blossoms {
      @include at2x("../img/cherryblossoms640", png, 360px, 81px);
      width: 360px;
      height: 81px;
      top: 10px;
      right: -15px;
    }
  }

  @media (max-width: 520px) {
    .header {
      top: -30px;
      right: 10px;
    }

    h1 {
      font-size: 55px;
      line-height: 60px;
    }

    h2 {
      font-size: 16px;
    }

    h2 {
      padding-bottom: 10px;
    }

    .big-balloon {
      display: none;
    }

    .med-balloon {
      top: 60px;
      left: 10px;
    }

    .sm-balloon {
      top: 70px;
      left: 45px;
    }

    .cherry-blossoms {
      @include at2x("../img/cherryblossoms480", png, 300px, 67px);
      width: 300px;
      height: 67px;
      top: -15px;
      right: -15px;
    }
  }
}


/*
  Navigation button bar
*/
.nav-background {

  .nav-container {
    background-color: $main-color;
    padding: 20px 0 0 0;

    h3 {
      position: relative;
      top: 107px;
    }

    .design, .about, .contact {
      cursor: pointer;
    }

    .design-button {
      margin-bottom: 20px;
      width: 210px;
      height: 210px;
      border: 4px solid $fifth-color;
      border-radius: 50%;
      background: $secondary-color;
    }

    .about-button {
      margin-bottom: 20px;
      width: 210px;
      height: 210px;
      border: 4px solid $fifth-color;
      border-radius: 50%;
      background: $secondary-color;
    }

    .contact-button {
      width: 210px;
      height: 210px;
      border: 4px solid $fifth-color;
      border-radius: 50%;
      background: $secondary-color;
    }

    .design-image {
      @include at2x("../img/design", png, 200px, 143px);
      width: 200px;
      height: 143px;
    }

    .about-image {
      @include at2x("../img/about", png, 200px, 143px);
      width: 200px;
      height: 143px;
    }

    .contact-image {
      @include at2x("../img/contact", png, 200px, 143px);
      width: 200px;
      height: 143px;
    }

    @media (max-width: 992px) {
      h3 {
        position: relative;
        top: 82px;
        font-size: 20px;
      }

      .design-button {
        width: 157px;
        height: 157px;
      }

      .about-button {
        margin-bottom: 20px;
        width: 157px;
        height: 157px;
      }

      .contact-button {
        width: 157px;
        height: 157px;
      }

      .design-image {
        @include at2x("../img/design992", png, 150px, 110px);
        width: 150px;
        height: 110px;
      }

      .about-image {
        @include at2x("../img/about992", png, 150px, 110px);
        width: 150px;
        height: 110px;
      }

      .contact-image {
        @include at2x("../img/contact992", png, 150px, 110px);
        width: 150px;
        height: 110px;
      }
    }

    @media (max-width: 640px) {
      h3 {
        position: relative;
        top: 46px;
        font-size: 14px;
      }

      .design-button {
        width: 90px;
        height: 90px;
      }

      .about-button {
        margin-bottom: 20px;
        width: 90px;
        height: 90px;
      }

      .contact-button {
        width: 90px;
        height: 90px;
      }

      .design-image {
        @include at2x("../img/design640", png, 86px, 63px);
        width: 86px;
        height: 63px;
        position: relative;
        top: -8px;
        left: -2px;
      }

      .about-image {
        @include at2x("../img/about640", png, 86px, 63px);
        width: 86px;
        height: 63px;
        position: relative;
        top: -8px;
        left: -2px;
      }

      .contact-image {
        @include at2x("../img/contact640", png, 86px, 63px);
        width: 86px;
        height: 63px;
        position: relative;
        top: -8px;
        left: -2px;
      }
    }
  }
}

/*
  Design container
*/
.design-background {

  .design-container {
    @include background-opacity($design-container-color, 1);

    padding: 70px 0 50px 0;

    h2 {
      text-align: left;
    }

    .design-image {
      width: 270px;
      height: 220px;
    }

    img {
      max-width: 200px;
      max-height: 200px;
    }

    @media (max-width: 640px) {
      padding: 20px 0 0 0;

      .design-image {
        width: 170px;
        height: 120px;
      }

      img {
        max-width: 100px;
        max-height: 100px;
      }
    }
  }
}

/*
  About container
*/
.about-background {

  .about-container {
    @include background-opacity($about-container-color, 1);
    padding: 50px 0 50px;

    h2 {
      text-align: left;
    }

    strong {
      font-family: $h1-font-stack;
      font-size: 30px;
      color: $secondary-color;
    }

    p {
      font-size: 25px;
      color: $secondary-color;
    }

    .flower-image {
      width: 500px;
    }

    .me-image {
      width: 350px;
      border-radius: 50%;
      border: 4px solid #FFF;

      @media (max-width: 640px) {
        position: relative;
        left: -3px;
      }
    }
  }
}

/*
  Contact container
*/
.contact-container {
  padding: 50px 0 50px 0;

  h2 {
    position: relative;
    left: -5px;
    text-align: left;
    font-family: $h1-font-stack;
    color: $main-color;
    font-size: 48px;
  }

  p {
    font-size: 24px;
    color: #FFFFFF;
  }

  a.email {
    color: #FFFFFF;
  }

  a:hover.email {
    color: $third-color;
  }
}

/* Hack to center cols correctly */
.center-block {
  float: none;
}

/* centered columns styles */
.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}

/* Center align in div */
.vcenter {
  vertical-align: middle;
  float: none;
}