// Colors
$main-color:                 #fff;
$secondary-color:            #333333;
$third-color:                #2e5a64;
$forth-color:                #70b98b;
$fifth-color:                #fff1df;
$sixth-color:                #ffffff;
$seventh-color:              #d87862;
$header1-font-color:         $main-color;
$header2-font-color:         $fifth-color;
$font-color:                 $fifth-color;

// Fonts
$p-font-stack:               'Cabin', sans-serif;
$h1-font-stack:              'Raleway', cursive;
$h2-font-stack:              'Cabin', sans-serif;
$h3-font-stack:              'Cabin', sans-serif;

// Set element colors
$background-overlay-color:   $secondary-color;
$background-overlay-opacity: 1;
$link-color:                 $secondary-color;
$link-color-hover:           $third-color;
$navbar-selector-opacity:    1;
$bar-color:                  #FFF;
$design-container-color:     $sixth-color;
$about-container-color:      $seventh-color;
$navbar-font:                #222;
//
//-bg color - #333333
//
//-nav bar - bg color - white
//font color #333333
//size about 24pts
//
//-header bg color - FDA3BD at 50% opacity
//font size about 50pts
//
//-font - Raleway -white
//
//

/* This mixin creates rbga color from hex and opacity */
@mixin background-opacity($color, $opacity: 0.5) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}

@mixin at2x($path, $ext: "jpg", $w: auto, $h: auto) {
  $at1x_path: "#{$path}.#{$ext}";
  $at2x_path: "#{$path}@2x.#{$ext}";

  background-image: url("#{$at1x_path}");

  @media all and (-webkit-min-device-pixel-ratio : 1.5),
  all and (-o-min-device-pixel-ratio: 3/2),
  all and (min--moz-device-pixel-ratio: 1.5),
  all and (min-device-pixel-ratio: 1.5) {
    background-image: url("#{$at2x_path}");
    background-size: $w $h;
  }
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  background: $background-overlay-color url("../img/astro_planets.png") center no-repeat;

  //background: $background-overlay-color url("../img/img-noise-361x370.png") repeat;
  //transform: translate3d(0,0,0);
  z-index: -5;
  width: 100%;
  height: 100%;
}

html, body {
  font-family: $p-font-stack;

  h1 {
    background-color: #191919;
    color: $header1-font-color;
    font-family: $h1-font-stack;
    font-size: 50px;
    margin-top:0;
    padding-top:0;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 75px;
    text-align: center;
  }

  h2 {
    padding-top: 0;
    margin-top: 0;
    color: $header2-font-color;
    font-family: $h2-font-stack;
    font-size: 35px;
    text-align: right;
  }

  h3 {
    color: $header2-font-color;
    font-family: $h2-font-stack;
    font-size: 25px;
    font-weight: 200;
  }

  h3:hover {
    color: $third-color;
    font-family: $h2-font-stack;
    font-size: 25px;
    font-weight: 200;
  }

  strong {
    color: $main-color;
  }

  /* Style the href links */
  a:link, a:visited {
    color: $link-color;
  }
  a:hover, a:active {
    color: $link-color-hover;
    text-decoration: none;
  }
}

/* Set max width of 1080 */
.container {
  @media (min-width: 1200px) {
    width: 1080px;
  }
}

.info-container {
  padding: 50px 0 200px;
  //max-width: 1080px;
  margin: 0 auto !important;
  float: none !important;
}

/*
  Top container
*/
.top-container {
  height: 680px;
  padding: 50px 0 110px;
  max-width: 1080px;

  /* fix right margin */
  .row {
    margin-right: 0;
    margin-left: 0;
  }

  .header {
    position: relative;
    right: 45px;
  }

  p {
    color: $font-color;
    margin-top: 20px;
    font-size: 22px;
  }

  @media (max-width: 992px) {
    .med-balloon {
      left: 180px;
    }

    //h1 {
    //  font-size: 100px;
    //  line-height: 95px;
    //}

    h2 {
      font-size: 30px;
    }
  }

  @media (max-width: 870px) {
    padding: 80px 0 125px;
  }

  @media (max-width: 800px) {
    padding: 60px 0 75px;

    //h1 {
    //  font-size: 80px;
    //  line-height: 80px;
    //}

    h2 {
      font-size: 25px;
    }
  }

  @media (max-width: 640px) {
    padding-bottom: 30px;

    .header {
      right: 30px;
    }

    //h1 {
    //  font-size: 60px;
    //  line-height: 60px;
    //}

    h2 {
      font-size: 18px;
    }
  }

  @media (max-width: 520px) {
    .header {
      top: -30px;
      right: 10px;
    }

    //h1 {
    //  font-size: 55px;
    //  line-height: 60px;
    //}

    h2 {
      font-size: 16px;
    }

    h2 {
      padding-bottom: 10px;
    }

    @media (min-width: 320px) {
      padding-bottom: 20px;
      padding-top: 90px;

      .header {
        top: -30px;
        right: 5px;
      }

      h1 {
        font-size: 44px;
        line-height: 40px;
      }

      h2 {
        font-size: 12px;
      }
    }
  }
}

/*
  Design container
*/
.design-background {

  .design-container {
    @include background-opacity($design-container-color, 1);

    padding: 70px 0 50px 0;

    h2 {
      text-align: left;
    }

    .design-image {
      width: 270px;
      height: 220px;
    }

    img {
      max-width: 200px;
      max-height: 180px;
    }

    @media (max-width: 640px) {
      padding: 20px 0 0 0;

      .design-image {
        width: 170px;
        height: 120px;
      }

      img {
        max-width: 100px;
        max-height: 100px;
      }
    }

    @media (max-width: 320px) {
      .design-image {
        width: 150px;
        height: 106px;
      }
    }
  }
}

/*
  About container
*/
.about-background {

  .about-container {
    @include background-opacity($about-container-color, 1);
    padding: 50px 0 50px;

    h2 {
      text-align: left;
    }

    strong {
      font-family: $h1-font-stack;
      font-size: 28px;
      color: $secondary-color;
    }

    p {
      font-size: 22px;
      color: $secondary-color;
    }

    .flower-image {
      width: 400px;
    }

    .me-image {
      width: 210px;
      border-radius: 50%;
      border: 4px solid #FFF;
    }
  }

  @media (min-width: 1200px) {
    .container {
      padding: 0 78px;
    }
  }
}

/*
  Contact container
*/
.contact-container {
  padding: 50px 0 50px 0;

  h2 {
    position: relative;
    left: -5px;
    text-align: left;
    font-family: $h1-font-stack;
    color: $main-color;
    font-size: 48px;
  }

  p {
    font-size: 24px;
    color: #FFFFFF;
  }

  a.email {
    color: #FFFFFF;
  }

  a:hover.email {
    color: $third-color;
  }
}

/* Hack to center cols correctly */
.center-block {
  float: none;
}

/* centered columns styles */
.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}

/* Center align in div */
.vcenter {
  vertical-align: middle;
  float: none;
}

.image-container {
  box-shadow: 0 1px 1px 0 #000000;
}

.image-container-sm {
  display: inline-block;
  width: 140px;
  height: 93px;
  margin: 10px;
}

.image-container-md {
  display: inline-block;
  width: 200px;
  height: 150px;
  margin: 10px;
}

.image-container-lg {
  display: inline-block;
  width: 300px;
  height: 200px;
  margin: 10px;
}

.responsive-image-container {
  text-align: center;
}

.img-placeholder {
  display: inline-block;
  width: 200px;
  height: 100px;
}

/* Style navbar */
.navbar {
  @include background-opacity($bar-color, .9);
  border-width: 0;
  box-shadow: 0 0 3px 0 #000000;
  max-width: 1080px;
  margin: 0 auto;
}

.navbar-nav {
  a {
    font-size: 20px;
  }

  float: none;
}

/* Git navbar item hover a nice background */
.navbar-inverse .navbar-nav>li>a {
  color: $navbar-font;
}
.navbar-inverse .navbar-nav>li>a:hover {
  color: $third-color;
  //@include background-opacity($bar-color, .8);
}

/* Give the navbar active item a nice background color */
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus {
  background: $link-color-hover;
}
.navbar-inverse .navbar-nav>.active>a:hover  {
  background: $link-color-hover;
}
